In [12]:
from models import *
import pandas as pd
import os
import glob
import json

In [2]:
!rm database.db

rm: cannot remove ‘database.db’: No such file or directory

In [3]:
print db
db.create_all()

<SQLAlchemy engine='sqlite:////home/nabobalis/GitRepos/election-stats/database.db'>

Constituency : models.Constituency

Results : models.Results

Party : model.Party

Candidates : models.Candidates

In [4]:
db.session.rollback()

In [80]:
# JSON Files for Boundaries.
files = glob.glob('./election_json/boundaries/*.json')
files.sort()

In [8]:
!ls

app.py		  current_mp.xls  forms.py	  Procfile	    static
app.pyc		  database.db	  forms.pyc	  Procfile.dev	    templates
config.py	  election_json   models.py	  README.md	    _updated
config.pyc	  error.log	  models.pyc	  requirements.txt
constituency.xls  fabfile.py	  Populate.ipynb  screenshots

In [93]:
# XLS File with MP names.
data_1 = './current_mp.xls'
# Fetch names, sort and reindex.
names = pd.read_excel(data_1)
names = names.sort(columns=u'Constituency') # Sorted into constutuency order
names.index = range(0,len(names))

In [99]:
# XLS File with Constituency voting 2010.
data_2 = './constituency.xls'
cons = pd.read_excel(data_2)
cons

,General election results 2010,Turnout,Unnamed: 2,Party,Votes,Share,*lost deposit,change since 2005,Unnamed: 8
0,Aberavon [1],NaN,,,,,,,
1,50838,60.9,"Francis, H.*",Lab,16073,51.9,NaN,-,8.1
2,NaN,,"Davies, K.",LD,5034,16.3,NaN,+,2.5
3,NaN,,"Jones, C.Y. Ms.",Con,4411,14.2,NaN,+,4.1
4,NaN,,"Nicholls-Jones, P.",PC,2198,7.1,NaN,-,4.7
5,NaN,,"Edwards, K.A.",BNP,1276,4.1,*,NaN,
6,NaN,,"Tutton, A.",Ind,919,3,*,NaN,
7,NaN,,"Beany, C.",Bean,558,1.8,*,NaN,
8,NaN,,"Callan, J.",UKIP,489,1.6,*,NaN,
9,NaN,,,,-----,---,NaN,,
10,2005: Lab,NaN,,,11039,35.7,NaN,,
11,Aberconwy [2],NaN,,,,,,,
12,44593,67.2,"Bebb, G.A.",Con,10734,35.8,NaN,+,6.8
13,NaN,,"Hughes, R.A.",Lab,7336,24.5,NaN,-,8.5
14,NaN,,"Priestley, M.A.",LD,5786,19.3,NaN,+,0.2
15,NaN,,"Edwards, P.R.",PC,5341,17.8,NaN,+,3.8
16,NaN,,"Wieteska, M.B.",UKIP,632,2.1,*,+,1
17,NaN,,"Wynne-Jones, E.L. Ms.",Ch P,137,0.5,*,NaN,
18,NaN,,,,-----,---,NaN,,
19,2005: Lab,NaN,,,3398,11.3,NaN,,
20,Aberdeen North [3],NaN,,,,,,,
21,64808,58.2,"Doran, F.*",Lab,16746,44.4,NaN,+,2
22,NaN,,"Strathdee, J.J. Ms.",SNP,8385,22.2,NaN,-,0.1
23,NaN,,"Chapman, K.T.",LD,7001,18.6,NaN,-,5.3
24,NaN,,"Whyte, S.N.G.",Con,4666,12.4,NaN,+,2.9
25,NaN,,"Jones, R.D.",BNP,635,1.7,*,NaN,
26,NaN,,"Robertson, E.J.",SSP,268,0.7,*,-,1.2
27,NaN,,,,-----,---,NaN,,
28,2005: Lab,NaN,,,8361,22.2,NaN,,
29,Aberdeen South [4],NaN,,,,,,,
...,...,...,...,...,...,...,...,...,...
6070,NaN,,,,-----,---,NaN,,
6071,2005: Lab,NaN,,,2461,7.1,NaN,,
6072,York Central [648],NaN,,,,,,,
6073,76439,60.8,"Bayley, H.*",Lab,18573,40,NaN,-,8.9
6074,NaN,,"Wade Weeks, S. Ms.",Con,12122,26.1,NaN,+,3.2
6075,NaN,,"Vassie, C.",LD,11694,25.2,NaN,+,5
6076,NaN,,"Chase, A.D.",GRN,1669,3.6,*,-,1.7
6077,NaN,,"Kelly, J.",BNP,1171,2.5,*,NaN,
6078,NaN,,"Abbott, P.",UKIP,1100,2.4,*,+,0.3
6079,NaN,,"Vee, E.",MRLP,154,0.3,*,NaN,
6080,NaN,,,,-----,---,NaN,,
6081,2005: Lab,NaN,,,6451,13.9,NaN,,
6082,York Outer [649],NaN,,,,,,,
6083,75939,70.2,"Sturdy, J.C.",Con,22912,43,NaN,+,6.7
6084,NaN,,"Kirk, M.A. Ms.",LD,19224,36.1,NaN,-,0.7
6085,NaN,,"Alexander, J.M.",Lab,9108,17.1,NaN,-,9.9
6086,NaN,,"Morris, J.M. Ms.",UKIP,1100,2.1,*,NaN,
6087,NaN,,"Smurthwaite, C. Ms.",BNP,956,1.8,*,NaN,
6088,NaN,,,,-----,---,NaN,,
6089,2005: LD,NaN,,,3688,6.9,NaN,,
6090,Yorkshire East [650],NaN,,,,,,,
6091,80105,64,"Knight, G.*",Con,24328,47.5,NaN,+,2.1
6092,NaN,,"Adamson, R.M.",LD,10842,21.2,NaN,+,2.2
6093,NaN,,"Rounding, P.A.",Lab,10401,20.3,NaN,-,11.8
6094,NaN,,"Daniels, C.",UKIP,2142,4.2,*,+,0.5
6095,NaN,,"Pudsey, G.S.",BNP,1865,3.6,*,NaN,
6096,NaN,,"Allerston, R.",Soc Dem,914,1.8,*,NaN,
6097,NaN,,"Jackson, M.",GRN,762,1.5,*,NaN,
6098,NaN,,,,-----,---,NaN,,
6099,2005: Con,NaN,,,13486,26.3,NaN,,

In [79]:
for afile in files:
    #Basic Name
    js = json.load(open(afile))
    name = str(js['properties']['PCON13NM']).lower()
    #geo = str(js['geometry'])
    con = Constituency(name=name)
    #con.boundary = geo
    #Results
    con.Results = Results
    con.Results.numvotes = 1
    con.Results.turnout = 1
    con.Results.year = 1
    # Candidates
    con.Candidates = Candidates
    con.Candidates.Party = Party
    con.Candidates.Party.name = ''
    db.session.add(con)

In [81]:
files

[]

In [14]:
db.session.commit()